body {
  background-color: var(--primary-white);
  z-index: 1;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: var(--dark-forest);
}

a {
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
  color: var(--dark-forest);
  text-decoration: none;
  font-weight: bolder;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: var(--dark-forest);
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
