/*CSS du footer*/

#footer {
    background-color: burlywood;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 123px;
    width: 100%;
}

#footer a {
    padding: 30px;
}

#footer a:hover {
    color: cornflowerblue;
    text-transform: uppercase;
}
