/* CSS du header */
header {
    z-index: 2;
}

#header-container {
    background-color: burlywood;
    width: auto;
    height: 123px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

#brand-name h1 {
    padding: 20px;
    font-size: 64px;
}

.menu1 {
    padding: 20px;
}

.menu1 a {
    padding: 10px;
}

.menu1 a:hover {
    color: cornflowerblue;
    text-transform: uppercase;
}