/*Mise en page avec seulement flexbox*/
img {
    height: 450px;
    width: 531px;
}

button {
    margin-top: 20px;
    color: cornsilk;
    background-color: brown;
    border-radius: 5px;
    border: solid 2px brown;
    height: 64px;
    width: 160px;
}

button:hover {
    background-color: cornflowerblue;
    border: solid 2px cornflowerblue;
    text-transform: uppercase;
}

button a {
    color: beige;
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: beige;
}

.page-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    color: brown;
}

.subtitle {
    color: brown;
}

#items-display {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 30px;
}

.new-furniture {
    height: 325px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: burlywood;
    text-align: center;
}

.new-furniture img {
    height: 180px;
    width: 260px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

.new-furniture h2 {
    margin: 20px;
    color: brown;
    font-style: normal;
}

.new-furniture a {
    text-decoration: none;
}
.new-furniture a :hover {
    color: cornflowerblue;
    text-transform: uppercase;
}

#product-name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: brown;
    width: auto;
}

#product-name h2 {
    color: beige;
}

#main-description {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    background-color: beige;
}

#product-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    padding-bottom: 20px;
}

#packshot {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
}

#finition-form {
    width: 40%;
    display: flex;
    flex-flow: column;
    order:3;
    margin-top: 20px;   
}

#choose-finition {
    width: auto;
    height: 32px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

#add-to-cart {
    width: auto;
    background-color: beige;
    order: 4;
}

