/* CSS de départ */

header {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: grey;
}

header .menu1 {
    text-align: right;
}

header h1 {
    text-align: left;
}

header .sub {
    text-align: center;
    margin: auto;
}

img {
    width: 200px;
    height: 132px;
}

h1 {
    font-size: 21px;
    font-weight: bold;
    color: greenyellow;
}
h2 {
    font-size: 16px;
    color: hotpink;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 12px;
    font-weight: bold;
}

a {
    color: lightcoral;
    font-weight: bold; 
}

a:hover {
    color: lightskyblue;
    text-decoration: underline;
}

.display {
    display: flex;
    background-color: grey;
    height: auto;
    margin-bottom: 50px;
    margin-top: 64px;
}

.container {
    margin-top: 64px;
}

.display {
    height: 200px;
    position: relative;
}